<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        {% if success %}
            <h3>Registration Successful</h3>
            <h5>Click button to login.</h5>
            <a href="{% url 'login_user' %}" class="btn btn-warning">Login</a>
        {% else %}
            <h3>Registration Failed. Go back and try again.</h3>
        {% endif %}
    </div>
</body>
</html>